.menu li {
  display: inline;
  border: 3px bottom black;
  color: blue;
}

#bouton {
  border: 3px solid grey;
  color: black;
  border-radius: 5px;
}

.menu {
  text-align: right;
  position: relative; bottom: 50px;
}

#photo {
  background-image: url(hand.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.para  {
  width: 400px;
  height: 400px;
  background: white;
  position: relative; top: 50px; left: 50px;
}

#centre {
  text-align: center;
  background-color: blue;
  color: white;

}

#centrep {
  text-align: center;
  font-weight: bold;
  width: 700px;
  position: relative; right: 200px;

}

#centrediv {
  text-align: center;
  margin: auto;
}


#centre2 {
  margin: auto;
  width: 250px;
}

#flex {
  display: flex;
  flex-direction: row;;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#flex h2 {
  text-align: center;
}

#flex img {
  width: 100px;
  height: 100px;
}

div h1 {
  width: 20px;
}

#left {
  text-align: left;
  background-color: red;
  color: white;
  width: 100px;
}

#right {
  text-align: right;
}

#gras {
  font-weight: bold;
  text-align: center;
}

#lefttext {
  text-align: left;
  width: 300px;
  margin: 20px;
}

#boutoncentre {
  background-color: grey;
  color: white;
  text-align: center;
  margin: auto;
  width: 130px;
}

.centre left {
  text-align: left;

}

.centre right {
  text-align: right;
}
